#!/usr/bin/make -f

-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

GS_CONFIGURE_FLAGS = --libdir=/usr/lib \
		--disable-silent-rules \
		--enable-odrs

ifeq ($(DEB_HOST_ARCH_OS), linux)
	# Enable Limba support on Linux
	GS_CONFIGURE_FLAGS += --enable-limba

	# Enable fwupd support on supported architectures
	ifneq (,$(findstring $(DEB_BUILD_ARCH), amd64 arm64 armhf i386))
		GS_CONFIGURE_FLAGS += --enable-firmware
	endif
endif

DISTRO_ID = debian
ifeq (yes,$(shell dpkg-vendor --derives-from Ubuntu && echo yes))
	DISTRO_ID = ubuntu
else ifeq (yes,$(shell dpkg-vendor --derives-from Tanglu && echo yes))
	DISTRO_ID = tanglu
endif

# Install target dir
INSTALLDIR = $(CURDIR)/debian/tmp

%:
	dh $@ --with gnome

override_dh_auto_configure:
	dh_auto_configure -- $(GS_CONFIGURE_FLAGS)

override_dh_auto_install:
	dh_auto_install --destdir=$(INSTALLDIR)
	rm -f $(INSTALLDIR)/usr/lib/gs-plugins-?/libgs_plugin_fedora*
ifneq (yes,$(shell dpkg-vendor --derives-from Ubuntu && echo yes))
	rm -f $(INSTALLDIR)/usr/lib/gs-plugins-?/libgs_plugin_ubuntu*
endif

override_dh_installgsettings:
	sed 's/@DISTRO@/$(DISTRO_ID)/g' debian/gnome-software.gsettings-override.in > debian/gnome-software.gsettings-override
	dh_installgsettings

override_dh_install:
	rm -f debian/tmp/usr/lib/gs-plugins-*/*.a
	rm -f debian/tmp/usr/lib/gs-plugins-*/*.la
	dh_install --list-missing

override_dh_makeshlibs:
	dh_makeshlibs -Xlibgs_plugin

override_dh_auto_test:
	# DISABLED

override_dh_clean:
	rm -f debian/gnome-software.gsettings-override
	dh_clean
